{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Foodonate.org</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{%  static 'img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{%  static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%  static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{%  static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{%  static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{%  static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{%  static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{%  static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{%  static 'css/animate.css' %}">
    <link rel="stylesheet" href="{%  static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{%  static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="{%  static 'css/responsive.css' %}"> -->

	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="{%  static '1css/smoothbox.css' %}" type='text/css' media="all" />
	<!-- gallery light box -->
	<link rel="stylesheet" href="{%  static '1css/1style.css' %}" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="{%  static '1css/fontawesome-all.css' %}">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="{%  static '//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext' %}"
	    rel="stylesheet">
	<link href="/{%  static '/fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=latin-ext' %}"
	    rel="stylesheet">
	<!-- //Web-Fonts -->
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
   <!-- header-start -->
   <header>
    <div class="header-area ">
       <div id="sticky-header" class="main-header-area">
          <div class="container">
             <div class="row align-items-center">
                <div class="col-xl-10 col-lg-10">
                   <div class="main-menu d-none d-lg-block">
                      <nav>
                         <ul class="mein_menu_list" id="navigation">
                           <li><a class="nav-link" href="#About">About</a></li>
                             <li><a class="nav-link" href="#Service">Services</a></li>
                             <li><a class="nav-link" href="#Why Us">Why Us</a></li>
                             <li><a class="nav-link" href="#feedback">Feedback</a></li>
                            <div class="logo-img d-none d-lg-block">
                               <a href="index.html">
                                  <img src="{% static 'img/don.jpeg' %}" alt="">
                               </a>
                            </div>
                             <li><a class="nav-link" href="#contact">Contact</a></li>
                               <div class="custom_order">
                      <a href="map" class="boxed_btn_white">Get Food</a>
                   </div>
                         </ul>
                      </nav>
                   </div>
                </div>

                <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                   <div class="custom_order">
                      <a href="#" class="boxed_btn_white">Give Food</a>
                   </div>
                </div>
                <div class="col-12">
                   <div class="mobile_menu d-block d-lg-none"></div>
                </div>
                <div class="logo-img-small d-sm-block d-md-block d-lg-none">
                   <a href="index.html">
                      <img src="img/logo.png" alt="">
                   </a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </header>
 <!-- header-end -->
    <!-- header-end -->
    <section id="About">
    <!-- slider_area-start -->
    <div class="slider_area zigzag_bg_2">
        <div class="slider_sctive owl-carousel">
            <div class="single_slider slider_img_1">
                <div class="single_slider-iner">
                    <div class="slider_contant text-center">
                        <h3>Carrying the cravings<br></h3>
                            <p>We here at fooddonate.org ensure that you get the best wholesome<br>
                                meal from the finest food organizations around Coimbatore by<br>
                                giving you an interactive web user experience.<br>
                                </p>
                    </div>
                </div>
            </div>
            <div class="single_slider slider_img_1">
                <div class="single_slider-iner">
                    <div class="slider_contant text-center">
                        <h3>A Healthy hospitality<br></h3>
                            <p>Good food is love made edible. We bring to your doorstep nutritious food,<br>
                                quick quality customer service and contentment in your heart. </p>
                    </div>
                </div>
            </div>
            <div class="single_slider slider_img_1">
                <div class="single_slider-iner">
                    <div class="slider_contant text-center">
                        <h3>Grains with your Names<br>
                            </h3>
                            <p>The signature of god’s presence is seen on the smile of a starving stomach
                                <br>. So contribute to experience the totality in humanity<br>
                            <a  href="https://www.instagram.com/nxgp_7/" target="_blank" > Donate Now </a> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area-end -->
    </section>
    <section id="Service">
    <!-- service_area-start -->
    <div class="service_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title mb-60">
                        <h3>Our Services</h3>
                        <p>We strongly believe in the power of people and the magic of food that unites us in harmony.
                            Having a client driven motto we are adept at serving you the best from the rest.Our services include: <br> especially in the workplace. That’s why it’s crucial that, as women.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6">
                    <div class="single_service">
                        <div class="service_icon">
                            <i class="flaticon-gift"></i>
                        </div>
                        <h4>Accepting Donations</h4>
                        <p>Help our network of hunger relief NGOs and organisations, contribute to the future.
                            Where every donation is diligently spent for bringing food to hungry and poor. </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="single_service">
                        <div class="service_icon">
                            <i class="flaticon-cake"></i>
                        </div>
                        <h4>Catering on demand</h4>
                        <p><font color="white"><br>.</font> The smartest choice for quick food deliveries . Freshness and craziness delivered at your
                            doorstep. The best customer service is what we assure.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="single_service">
                        <div class="service_icon">
                            <i class="flaticon-dance"></i>
                        </div>
                        <h4>Partnering with 50+ organisations</h4>
                        <p>The food-tech space in India is heating up ,and we would love to partner with organisations
                            working towards similar cause . Trusted by every food addict </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="single_service">
                        <div class="service_icon">
                            <i class="flaticon-calendar"></i>
                        </div>
                        <h4>24/7 assistance</h4>
                        <p>When you crave for healthy and delicious food , just visit fooddonate.org . Ready to serve
                            at any hour of the day.<font color="white"><br><br>.</font></p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="single_service">
                        <div class="service_icon">
                            <i class="flaticon-businessman"></i>
                        </div>
                        <h4>Safe delivery</h4>
                        <p>Now it is not the time to experiment , many people trust fooddonate.org for providing hygiene
                            and germ-free food.<font color="white"><br><br>.</font></p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="single_service">
                        <div class="service_icon">
                            <i class="flaticon-running-man"></i>
                        </div>
                        <h4>Free and hygienic</h4>
                        <p>We aim to lead a movement towards zero hunger at free cost through a network
                            of highly passionate citizens who care deeply about the potential the future generation holds.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service_area-end -->
    </section>
    <!-- video_area_start -->
    <section id="video">
    <div class="video_area video_bg zigzag_bg_1 zigzag_bg_2 ">
        <div class="video_area_inner">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="video_text">
                            <div class="info">
                                <div class="info_inner">
                                        <h4>Watch Video</h4>
                                        <p>India Needs Help</p>
                                </div>
                                <div class="icon_video">
                                        <a class="popup-video" href="https://www.youtube.com/watch?v=9peKUlbDM3M"><i class="ti-control-play"></i></a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- video_area_end -->

     <!-- Why Us-->
    <section id="Why Us">
	<div class="w3ls-middle pt-5" id="services">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-center text-dark mb-sm-5 mb-4">
				<span>The great advantages</span> of a hotel is that it is a refuge from home life</h3>
			<div class="row pt-lg-5">
				<div class="col-lg-6 text-center">
					<img src="{%  static '1images/3.png' %}" alt="" class="img-fluid chef-img">
				</div>
				<div class="col-lg-4 mt-lg-0 mt-4">
					<div class="service1-wthree">
						<h4>1</h4>
						<h6 class="text-dark mt-3 mb-2">Delivery</h6>
						<p>Our delivery services work throughout the day to provide the fast
                            and tastiest meals at your doorstep.</p>
					</div>
					<div class="service1-wthree my-4">
						<h4>2</h4>
						<h6 class="text-dark mt-4 mb-2">Safety</h6>
						<p>Our team carefully sanities and monitors the packages, keeping in
                            mind your safety and wellbeing.</p>
					</div>
					<div class="service1-wthree">
						<h4>3</h4>
						<h6 class="text-dark mt-4 mb-2">Healthy</h6>
						<p>Our meals contain ingredients full of nutrients that helps nourish
                            and boost your bodies immunity.</p>
					</div>
				</div>
				<div class="offset-lg-2"></div>
			</div>
		</div>
	</div>
</section>
	<!-- //services -->

	<!-- middle section one -->
	<div class="w3ls-middle-works py-5 text-center" id="specials">
		<div class="py-xl-5 py-lg-3">
			<h3 class="title text-center text-dark mb-lg-5">
				<span>Fresh, organic ingredients,</span>Carefully prepared, Eat green for a reason.</h3><br>

			<div class="d-flex special-agiles text-left">
				<div class="col-md-6 grids-w3ls-left">
					<p class="mb-2 text-white">Our Motto</p>
					<h4 class="title text-dark mb-md-4">Fresh, <br>Nutritious and <br> Safe meals <br> at your doorstep</h4>

				</div>
				<div class="col-md-6 grids-w3ls-right">
					<img src="{%  static '1images/middle.jpg' %}" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
	<!-- //middle section one -->
    <!-- brand_area-start -->
    <section id="brand">
    <div class="brand_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title mb-70">
                        <h3>Brands love to Collaborate with Us!!</h3>
                        <p>There are many Volunteer Organisations who are ready to serve the people
                            in need by joining hands with our Organisation!!
                            </p>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-xl-2 col-md-6 col-lg-3">
                        <div class="single_brand">
                            <img src="{%  static 'img/brand/1.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-3">
                        <div class="single_brand">
                            <img src="{%  static 'img/brand/02.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-3">
                        <div class="single_brand">
                            <img src="{%  static 'img/brand/03.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-3">
                        <div class="single_brand">
                            <img src="{%  static 'img/brand/04.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-3">
                        <div class="single_brand">
                            <img src="{%  static 'img/brand/05.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-3">
                        <div class="single_brand">
                            <img src="{%  static 'img/brand/06.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-3">
                        <div class="single_brand">
                            <img src="{%  static 'img/brand/7.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-3">
                        <div class="single_brand">
                            <img src="{%  static 'img/brand/12.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-3">
                        <div class="single_brand">
                            <img src="{%  static 'img/brand/9.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-3">
                        <div class="single_brand">
                            <img src="{%  static 'img/brand/10.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-3">
                        <div class="single_brand">
                            <img src="{%  static 'img/brand/11.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-3">
                        <div class="single_brand">
                            <img src="{%  static 'img/brand/8.png' %}" alt="">
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </section>
    <!-- brand_area-end -->

    <!-- testmonial_area_start -->
    <section id="feedback">
    <div class="testmonial_area banner-3">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title white mb-60">
                        <h3>Feedback from Customers</h3>
                        <p> How can we get better at supporting the mission of our team?? <br> Write Us Your Feedback!! </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_testmonial d-flex">
                            <div class="testmonial_thumb">
                                <img src="{%  static 'img/testmonial/1.png' %}" alt="">
                            </div>
                            <div class="testmonial_author">
                                <h3>Lakshitha</h3>
                                <span>Chief Customer</span>
                                <p>As far I am concerned, these delivery people are True Gods.
                                    Despite this pandemic these people are severing many who are in neetrackerHats off!</p>
                            </div>
                        </div>
                        <div class="single_testmonial d-flex">
                            <div class="testmonial_thumb">
                                <img src="{%  static 'img/testmonial/2.png' %}" alt="">
                            </div>
                            <div class="testmonial_author">
                                <h3>Keerthana</h3>
                                <span>Chief Customer</span>
                                <p> I pretty much liked, the delivery person's gestures towards me.
                                    He was so kind and didn't even hesitate to answer our doubts with regards to the food.
                                    Overall the service was Good.ou're had.</p>
                            </div>
                        </div>
                        <div class="single_testmonial d-flex">
                            <div class="testmonial_thumb">
                                <img src="{%  static 'img/testmonial/1.png' %}" alt="">
                            </div>
                            <div class="testmonial_author">
                                <h3>Kavya</h3>
                                <span>Chief Customer</span>
                                <p>When we were in quarantine we learned about the delivery partners who,
                                    also in the midst of the pandemic,
                                    manage to bring us some free food to our homes.
                                   </p>
                            </div>
                        </div>
                        <div class="single_testmonial d-flex">
                            <div class="testmonial_thumb">
                                <img src="{%  static 'img/testmonial/2.png' %}" alt="">
                            </div>
                            <div class="testmonial_author">
                                <h3>Nishanth</h3>
                                <span>Chief Customer</span>
                                <p>The delivery executive who delivered the food was following all precautions
                                    he delivered the food with full safety.</p>
                            </div>
                        </div>
                        <div class="single_testmonial d-flex">
                            <div class="testmonial_thumb">
                                <img src="{%  static 'img/testmonial/1.png' %}" alt="">
                            </div>
                            <div class="testmonial_author">
                                <h3>Viraj</h3>
                                <span>Chief Customer</span>
                                <p>The delivery was so smooth the food was delivered without any chaos at correct time.</p>
                            </div>
                        </div>
                        <div class="single_testmonial d-flex">
                            <div class="testmonial_thumb">
                                <img src="{%  static 'img/testmonial/2.png' %}" alt="">
                            </div>
                            <div class="testmonial_author">
                                <h3>Smrithi</h3>
                                <span>Chief Customer</span>
                                <p>My dad is a covid patient he got to eat at specific times, so I told them about it.
                                    But I was astounded when the food arrived
                                    15 minutes earlier than I had required.Such a kind and helpful service</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- testmonial_area_end -->



	<!-- contact -->
    <section id = "cantact">
	<div class="address py-5" id="contact">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-center text-dark mb-sm-5 mb-4">
				<span>Contact US</span> world's no.1 tasty food</h3>
			<div class="row address-row pt-lg-5">
				<div class="col-lg-6">
					<div class="address-right p-sm-5 p-4">
						<div class="address-info wow fadeInRight animated" data-wow-delay=".5s">
							<h4 class="mb-3">Address</h4>
							<p>PSG College of Technology,Peelamedu
								<span>Coimbatore 641004,Tamil Nadu,India</span>
							</p>
						</div>
						<div class="address-info address-mdl wow fadeInRight animated my-sm-5 my-4" data-wow-delay=".7s">
							<h4 class="mb-3">Phone </h4>
							<p>+0422 111 333 4444</p>
							<p>+0422 111 333 5555</p>
						</div>
						<div class="address-info agileits-info wow fadeInRight animated" data-wow-delay=".6s">
							<h4 class="mb-3">Mail</h4>
							<p>
								<a href="{%  static 'mailto:example@mail.com' %}"> psg@example.com</a>
							</p>
							<p>
								<a href="{%  static 'mailto:example@mail.com' %}"> psgtech@example.com</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 address-left wow agile fadeInLeft animated mt-lg-0 mt-5" data-wow-delay=".5s">
					<div class="address-grid p-sm-5 p-4">
						<h4 class="wow fadeIndown animated mb-3" data-wow-delay=".5s">Get In Touch</h4>
						<form action="#" method="post">
							<div class="form-group">
								<input type="text" placeholder="Name" name="name" class="form-control" required="">
							</div>
							<div class="form-group">
								<input type="email" placeholder="Email" name="email" class="form-control" required="">
							</div>
							<div class="form-group">
								<textarea placeholder="Message"  name="Message" class="form-control" required=""></textarea>
							</div>
							<input type="submit" value="SEND">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
    </section>
	<!--//contact-->

    <!-- footer-start -->
    <footer class="footer_area footer-bg zigzag_bg_1">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="heading">
                                Quick Links
                            </h3>
                            <ul>
                                <li><a href="https://coronaclusters.in/tamil-nadu">Covid tracker</a></li>
                                <li><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public"> Preventive measures </a></li>
                                <li><a href="https://www.sutra-india.in/">Covid predictions</a></li>
                                <li><a href="https://www.cdc.gov/vaccines/">Vaccines and immunization</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="heading">
                                 Python
                            </h3>
                            <ul>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="heading">
                                    Features
                            </h3>
                            <ul>
                                <li><a href="#">Food</a></li>
                                <li><a href="#">Donations</a></li>
                                <li><a href="#">Healthy</a></li>
                                <li><a href="#">Safety</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="heading">
                                    Resources
                            </h3>
                            <ul>
                                <li><a href="#">Python</a></li>
                                <li><a href="#">Django</a></li>
                                <li><a href="#">html</a></li>
                                <li><a href="#">css</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-12 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="heading">
                                    Newsletter
                            </h3>
                            <p class="offer_text" >You can trust us. we only send promo offers,</p>
                            <form action="#">
                                <input type="text" placeholder="Your email address">
                                <button type="submit"> <i class="ti-arrow-right"></i> </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-7 col-md-12 col-lg-8">
                        <div class="copyright">
                                <p class="footer-text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved </i> by <a href="https://www.instagram.com/nxgp_7/" target="_blank">Foodonate.org</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>

                                    </div>
            </div>
        </div>
    </footer>
    <!-- footer-end -->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
        <!-- JS here -->
    <script src="{%  static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{%  static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{%  static 'js/popper.min.js' %}"></script>
    <script src="{%  static 'js/bootstrap.min.js' %}"></script>
    <script src="{%  static 'js/owl.carousel.min.js' %}"></script>
    <script src="{%  static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{%  static 'js/ajax-form.js' %}"></script>
    <script src="{%  static 'js/waypoints.min.js' %}"></script>
    <script src="{%  static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{%  static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{%  static 'js/scrollIt.js' %}"></script>
    <script src="{%  static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{%  static 'js/wow.min.js' %}"></script>
    <script src="{%  static 'js/nice-select.min.js' %}"></script>
    <script src="{%  static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{%  static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{%  static 'js/plugins.js' %}"></script>

    <!--contact js-->
    <script src="{%  static 'js/contact.js' %}"></script>
    <script src="{%  static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{%  static 'js/jquery.form.js' %}"></script>
    <script src="{%  static 'js/jquery.validate.min.js' %}"></script>
    <script src="{%  static 'js/mail-script.js' %}"></script>

    <script src="{%  static 'js/main.js' %}"></script>
	<!-- gallery light box -->
	<script src="{%  static '1js/smoothbox.jquery2.js' %}"></script>
	<!-- //gallery light box -->

	<!-- smooth scrolling -->
	<script src="{%  static '1js/SmoothScroll.min.js' %}"></script>
	<!-- //smooth scrolling -->

	<!-- move-top -->
	<script src="{%  static '1js/move-top.js' %}"></script>
	<!-- easing -->
	<script src="{%  static '1js/easing.js' %}"></script>
	<!--  necessary snippets for few javascript files -->
	<script src="{%  static '1js/snacks.js' %}"></script>

	<script src="{%  static '1js/bootstrap.js' %}"></script>

</body>

</html>